.container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: auto;
    justify-content: space-between;
    background-image: url(./img/bgr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    height: 100vh;
    
}

.container-item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: white;
    width: 70px;
    height: 100px;
    border: 5px solid #c67d00;
    cursor: pointer;
    margin: 20px;
    background: rgba(255, 255, 255, 0);
}

.container-item-hover{
    border: 5px solid #3b3b3b;
}